Repository convoy-js/nest-convoy: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn bazel:lint-fix, eslint --fix, prettier --write

chore: save
  packages/testing/sagas/saga-unit-test-support.ts
Due: eslint --fix

chore: save
  packages/commands/consumer/command-dispatcher.ts
  packages/commands/consumer/test/command-dispatcher.spec.ts
  packages/messaging/common/message.ts
  packages/messaging/producer/test/message-producer.spec.ts
  packages/sagas/orchestration/test/saga-manager.spec.ts
Due: eslint --fix

fix(deps): update dependency kafkajs to v1.15.0
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency tslib to v2.0.3
  packages/commands/package.json
  packages/common/package.json
  packages/core/package.json
  packages/events/package.json
  packages/messaging/package.json
  packages/sagas/package.json
  packages/testing/package.json
Due: prettier --write

chore(deps): update dependency prettier to v2.2.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v10.5.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency husky to v4.3.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/jest to v26.0.19
  package.json
  yarn.lock
Due: prettier --write

chore: save
  .idea/codeStyles/Project.xml
  examples/ftgo-app/services/restaurant/entities/restaurant.entity.ts
  packages/commands/consumer/command-dispatcher.ts
  packages/commands/consumer/command-handler.ts
  packages/commands/consumer/test/command-dispatcher.spec.ts
  packages/common/types.ts
  packages/events/aggregate/aggregate-repository.ts
  packages/events/aggregate/aggregate-root.ts
  packages/events/subscriber/domain-event-dispatcher.ts
  packages/messaging/common/message-interceptor.ts
  packages/sagas/orchestration/dsl/invoke-participant-step-builder.ts
  packages/sagas/orchestration/dsl/local-step-builder.ts
  packages/sagas/orchestration/dsl/participant-invocation-step.ts
  packages/sagas/orchestration/dsl/saga-step.ts
  packages/sagas/orchestration/dsl/step-builder.ts
  packages/sagas/orchestration/saga.ts
Due: eslint --fix

chore(deps): update dependency typescript to v4.1.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency husky to v4.3.6
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint-plugin-prettier to v3.3.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency build_bazel_rules_nodejs to v2.3.2
  WORKSPACE
Due: yarn bazel:lint-fix

chore(deps): update dependency eslint-config-prettier to v7
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v4.11.1
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update nest monorepo to v7.6.5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint to v7.17.0
  package.json
  yarn.lock
Due: prettier --write

chore(renovate): update package rules & base branch
  renovate.json
Due: prettier --write

chore(renovate): update package rules & base branch
  .github/renovate.json
Due: prettier --write

chore(deps): update deps
  .bazelversion
  WORKSPACE
  examples/basic-in-memory/BUILD.bazel
  package.json
  packages/commands/package.json
  packages/common/package.json
  packages/core/package.json
  packages/events/aggregate/crud/aggregate-crud-mapping.ts
  packages/events/package.json
  packages/messaging/broker/kafka/kafka-message-builder.ts
  packages/messaging/common/message.ts
  packages/messaging/package.json
  packages/messaging/producer/test/message-producer.spec.ts
  packages/sagas/orchestration/dsl/e2e/BUILD.bazel
  packages/sagas/orchestration/dsl/e2e/conditional.saga.ts
  packages/sagas/orchestration/dsl/saga-execution-state-json-serde.ts
  packages/sagas/package.json
  packages/testing/BUILD.bazel
  packages/testing/package.json
  packages/testing/sagas/BUILD.bazel
  patches/@bazel+typescript+2.0.3.patch
  yarn.lock
Due: yarn bazel:lint-fix, eslint --fix, prettier --write

fix(renovate): config
  .github/renovate.json
Due: prettier --write

chore: save
  examples/ftgo-app/services/restaurant/services/domain-event-publisher.ts
  packages/events/aggregate/aggregates.ts
  packages/events/aggregate/command-processing-aggregate.ts
  packages/events/aggregate/crud/aggregate-store-crud.ts
  packages/events/aggregate/snapshot/snapshot-manager.ts
  packages/messaging/consumer/duplicate-message-detectors/database-duplicate-message-detector.ts
  packages/sagas/orchestration/saga-instance-repository.ts
Due: eslint --fix

chore(deps): update postgres docker tag to v9.6.20
  docker-compose.yml
Due: prettier --write

chore(deps): update actions/setup-node action to v2
  .github/workflows/main.yml
Due: prettier --write

chore(deps): update dependency eslint-plugin-prettier to v3.3.1
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency tslib to v2.1.0
  package.json
  packages/commands/package.json
  packages/common/package.json
  packages/core/package.json
  packages/events/package.json
  packages/messaging/package.json
  packages/sagas/package.json
  packages/testing/package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/jest to v26.0.20
  package.json
  yarn.lock
Due: prettier --write

fix: release version stamping & missing brokers
  .bazelrc
  .gitignore
  .idea/codeStyles/Project.xml
  package.json
  packages/commands/BUILD.bazel
  packages/common/BUILD.bazel
  packages/core/BUILD.bazel
  packages/events/BUILD.bazel
  packages/messaging/BUILD.bazel
  packages/sagas/BUILD.bazel
  packages/testing/BUILD.bazel
  scripts/current_version.sh
  scripts/release.sh
  yarn-error.log
Due: prettier --write

fix(build): visibility
  examples/ftgo-app/libs/common/BUILD.bazel
  examples/ftgo-app/services/restaurant/BUILD.bazel
  examples/ftgo-app/services/restaurant/api/BUILD.bazel
  examples/ftgo-app/services/restaurant/entities/BUILD.bazel
  examples/ftgo-app/services/restaurant/services/BUILD.bazel
  package.json
  packages/commands/BUILD.bazel
  packages/commands/common/index.ts
  packages/commands/common/paths/BUILD.bazel
  packages/commands/consumer/BUILD.bazel
  packages/common/BUILD.bazel
  packages/core/BUILD.bazel
  packages/events/BUILD.bazel
  packages/events/aggregate/BUILD.bazel
  packages/events/aggregate/entities/BUILD.bazel
  packages/messaging/BUILD.bazel
  packages/messaging/broker/in-memory/BUILD.bazel
  packages/sagas/BUILD.bazel
  packages/sagas/common/entities/BUILD.bazel
  packages/sagas/orchestration/BUILD.bazel
  packages/sagas/orchestration/dsl/BUILD.bazel
  packages/sagas/orchestration/entities/BUILD.bazel
  packages/sagas/participant/BUILD.bazel
  packages/testing/BUILD.bazel
  packages/testing/sagas/BUILD.bazel
  tools/defaults.bzl
  yarn.lock
Due: yarn bazel:lint-fix, eslint --fix, prettier --write

chore: save
  packages/commands/common/index.ts
  packages/commands/common/paths/BUILD.bazel
  packages/sagas/common/entities/BUILD.bazel
Due: eslint --fix

fix(build): paths
  package.json
  packages/messaging/broker/kafka/kafka-messaging.module.ts
  packages/sagas/orchestration/BUILD.bazel
  packages/sagas/orchestration/entities/BUILD.bazel
  packages/sagas/orchestration/saga-orchestration.module.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: save
  .gitignore
  BUILD.bazel
  WORKSPACE
  packages/messaging/broker/kafka/kafka-messaging.module.ts
  scripts/release.sh
Due: yarn bazel:lint-fix, eslint --fix

fix(deps): update dependency @nest-convoy/commands to v0.0.6
  packages/core/package.json
  packages/sagas/package.json
  packages/testing/package.json
Due: prettier --write

fix(deps): update dependency @nest-convoy/common to v0.0.6
  packages/commands/package.json
  packages/core/package.json
  packages/events/package.json
  packages/messaging/package.json
  packages/sagas/package.json
Due: prettier --write

fix(deps): update dependency @nest-convoy/core to v0.0.6
  packages/messaging/package.json
Due: prettier --write

fix(deps): update dependency @nest-convoy/events to v0.0.6
  packages/core/package.json
  packages/sagas/package.json
  packages/testing/package.json
Due: prettier --write

fix(deps): update dependency @nest-convoy/messaging to v0.0.6
  packages/commands/package.json
  packages/common/package.json
  packages/core/package.json
  packages/events/package.json
  packages/sagas/package.json
  packages/testing/package.json
Due: prettier --write

fix(deps): update dependency @nest-convoy/sagas to v0.0.6
  packages/core/package.json
  packages/testing/package.json
Due: prettier --write

chore: save
  packages/events/publisher/domain-event-publisher.ts
  packages/messaging/broker/kafka/kafka-message-builder.ts
  packages/messaging/broker/kafka/kafka-message-consumer.ts
  packages/messaging/broker/kafka/kafka-message-producer.ts
  packages/messaging/broker/kafka/kafka-proxy.ts
  packages/messaging/broker/kafka/kafka-reply-partition-assigner.ts
  scripts/release.sh
Due: eslint --fix

Path conditions:
  yarn bazel:lint-fix: ((any of: **/BUILD) or (any of: *.bzl)) or (any of: WORKSPACE)
  eslint --fix: any of: *.{js,ts}
  prettier --write: any of: *.{json,scss,html,yaml,yml}
