Repository convoy-js/nest-convoy: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn bazel:lint-fix, eslint --fix, prettier --write

.lintstagedrc:

'**/BUILD':
  - yarn bazel:lint-fix

'*.bzl':
  - yarn bazel:lint-fix

'WORKSPACE':
  - yarn bazel:lint-fix

'*.{js,ts}':
  - eslint --fix

'*.{json,scss,html,yaml,yml}':
  - prettier --write

chore(deps): update dependency husky to v4.3.8
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint-config-prettier to v7.2.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to v14.14.22
  package.json
  yarn.lock
Due: prettier --write

fix(kafka): offset commitment
  WORKSPACE
  examples/customer-and-orders/README.md
  examples/ftgo-app/services/accounting/services/accounting-events-consumer.ts
  examples/ftgo-app/services/kitchen/handlers/kitchen-events-consumer.ts
  examples/ftgo-app/services/order-history/services/order-events-consumer.ts
  examples/ftgo-app/services/order/services/restaurant-events-consumer.ts
  examples/sagas-customers-orders/customers/BUILD.bazel
  examples/sagas-customers-orders/docker-compose.yml
  examples/sagas-customers-orders/orders/BUILD.bazel
  packages/commands/consumer/command-dispatcher.ts
  packages/core/BUILD.bazel
  packages/core/decorators.ts
  packages/core/index.ts
  packages/events/index.ts
  packages/events/subscriber/domain-event-dispatcher.ts
  packages/events/subscriber/index.ts
  packages/messaging/broker/database/database-message-producer.ts
  packages/messaging/broker/kafka/kafka-message-builder.ts
  packages/messaging/broker/kafka/kafka-message-consumer.ts
  packages/messaging/broker/kafka/kafka-message-processor.ts
  packages/messaging/broker/kafka/kafka-reply-partition-assigner.ts
  packages/messaging/broker/kafka/kafka.ts
  packages/messaging/broker/kafka/topic-partition-offset-tracker.ts
  packages/messaging/broker/kafka/topic-partition-offsets.ts
  packages/messaging/common/message-handler.ts
  packages/messaging/consumer/duplicate-message-detectors/transactional-noop-duplicate-message-detector.ts
  packages/sagas/orchestration/dsl/nest-saga-definition.ts
  packages/sagas/orchestration/entities/saga-instance-participants.entity.ts
  packages/sagas/orchestration/saga-instance-repository.ts
  tools/defaults.bzl
Due: yarn bazel:lint-fix, eslint --fix, prettier --write

feat(kafka): initial avro schema support
  WORKSPACE
  examples/sagas-customers-orders/common/BUILD.bazel
  examples/sagas-customers-orders/common/channel.ts
  examples/sagas-customers-orders/common/money.ts
  examples/sagas-customers-orders/customers/BUILD.bazel
  examples/sagas-customers-orders/customers/api/commands.ts
  examples/sagas-customers-orders/customers/api/replies.ts
  examples/sagas-customers-orders/customers/customers.module.ts
  examples/sagas-customers-orders/docker-compose.yml
  examples/sagas-customers-orders/orders/orders.module.ts
  package.json
  packages/commands/consumer/command-handler-reply-builder.ts
  packages/commands/producer/command-producer.ts
  packages/events/publisher/domain-event-publisher.ts
  packages/messaging/broker/kafka/BUILD.bazel
  packages/messaging/broker/kafka/avro-schema.ts
  packages/messaging/broker/kafka/index.ts
  packages/messaging/broker/kafka/kafka-message-builder.ts
  packages/messaging/broker/kafka/kafka-message-consumer.ts
  packages/messaging/broker/kafka/kafka-message-processor.ts
  packages/messaging/broker/kafka/kafka-message-producer.ts
  packages/messaging/broker/kafka/kafka-message.ts
  packages/messaging/broker/kafka/kafka-messaging.module.ts
  packages/messaging/broker/kafka/schemas/avro.ts
  packages/messaging/broker/kafka/test/BUILD.bazel
  packages/messaging/broker/kafka/test/schema.spec.ts
  packages/messaging/broker/kafka/tokens.ts
  packages/messaging/common/message.ts
  packages/messaging/producer/message-builder.ts
  packages/sagas/orchestration/saga-manager.ts
  packages/testing/sagas/saga-unit-test-support.ts
  patches/@deepkit+type+1.0.1-alpha.12.patch
  yarn.lock
Due: yarn bazel:lint-fix, eslint --fix, prettier --write

chore: save
  examples/sagas-customers-orders/customers/api/replies.ts
  examples/sagas-customers-orders/customers/entities/credit-reservation.entity.ts
  examples/sagas-customers-orders/customers/entities/customer.entity.ts
  packages/messaging/broker/kafka/kafka-message-builder.ts
Due: eslint --fix

chore: save
  examples/sagas-customers-orders/customers/entities/credit-reservation.entity.ts
  examples/sagas-customers-orders/customers/entities/customer.entity.ts
  examples/sagas-customers-orders/orders/entities/order.entity.ts
Due: eslint --fix

chore(deps): update dependency eslint to v7.18.0
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency typeorm to v0.2.30
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v4.14.1
  package.json
  yarn.lock
Due: prettier --write

chore: save
  .bazelrc
  examples/sagas-customers-orders/orders/BUILD.bazel
  examples/sagas-customers-orders/orders/entities/order.entity.ts
  packages/commands/consumer/command-dispatcher.ts
  packages/commands/producer/command-producer.ts
  packages/events/aggregate/BUILD.bazel
  packages/events/aggregate/crud/aggregate-crud-mapping.ts
  packages/events/subscriber/domain-event-dispatcher.ts
  packages/messaging/broker/kafka/avro-schema.ts
  packages/messaging/broker/kafka/index.ts
  packages/messaging/broker/kafka/kafka-message-builder.ts
  packages/messaging/broker/kafka/kafka-message.ts
  packages/messaging/broker/kafka/test/BUILD.bazel
  packages/messaging/broker/kafka/test/schema.spec.ts
  packages/messaging/broker/kafka/topic-partition-offset-tracker.ts
  packages/messaging/common/BUILD.bazel
  packages/messaging/common/message.ts
  packages/messaging/producer/BUILD.bazel
  packages/messaging/producer/message-builder.ts
  packages/sagas/orchestration/dsl/nest-saga-definition.ts
  patches/@deepkit+core+1.0.1-alpha.12.patch
  patches/@deepkit+type+1.0.1-alpha.12.patch
  tools/defaults.bzl
Due: yarn bazel:lint-fix, eslint --fix

fix(deps): update nest monorepo to v7.6.6
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update deps
  WORKSPACE
  package.json
  packages/core/package.json
  packages/messaging/package.json
  patches/@deepkit+core+1.0.1-alpha.12.patch
  patches/@deepkit+type+1.0.1-alpha.12.patch
  yarn.lock
Due: yarn bazel:lint-fix, prettier --write

fix(deps): pin dependency @golevelup/nestjs-discovery to 2.3.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency husky to v5
  package.json
  yarn.lock
Due: prettier --write

chore: save
  examples/sagas-customers-orders/orders/entities/order.entity.ts
Due: eslint --fix

chore(deps): update dependency @bazel/ibazel to v0.15.10
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency patch-package to v6.4.7
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency typescript to v4.2.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update postgres docker tag to v9.6.21
  docker-compose.yml
Due: prettier --write

fix(deps): update dependency rxjs to v6.6.7
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency typeorm to v0.2.32
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @bazel/buildifier to v4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint-config-prettier to v8
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency redis to v3.1.1 [security]
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/jest to v26.0.23
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to v14.14.44
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v10.5.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @bazel/typescript to v3.5.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency build_bazel_rules_nodejs to v3.5.0
  WORKSPACE
Due: yarn bazel:lint-fix

chore(deps): update dependency @types/node to v14.14.45
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update commitlint monorepo to v12
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @deepkit/type to v1.0.1-alpha.29
  package.json
  yarn.lock
Due: prettier --write

refactor: code cleanup
  .idea/inspectionProfiles/Project_Default.xml
  examples/sagas-customers-orders/docker-compose.yml
  packages/commands/consumer/command-dispatcher.ts
  packages/core/initializer.service.ts
  packages/events/aggregate/snapshot/etpo-event-context.ts
  packages/events/subscriber/domain-event-handlers-builder.ts
  packages/sagas/participant/saga-command-dispatcher.ts
  packages/testing/sagas/saga-unit-test-support.ts
Due: eslint --fix, prettier --write

chore: migrate husky 4 to 6
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  package.json
  packages/commands/package.json
  packages/common/package.json
  packages/core/package.json
  packages/events/package.json
  packages/messaging/package.json
  packages/sagas/package.json
  packages/testing/package.json
  patches/@bazel+typescript+3.5.0.patch
  patches/@deepkit+type+1.0.1-alpha.13.patch
  patches/jest-haste-map+26.6.2.patch
  yarn.lock
Due: prettier --write
