Repository convoy-js/nest-convoy: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn bazel:lint-fix, eslint --fix, prettier --write

.lintstagedrc:

'**/BUILD':
  - yarn bazel:lint-fix

'*.bzl':
  - yarn bazel:lint-fix

'WORKSPACE':
  - yarn bazel:lint-fix

'*.{js,ts}':
  - eslint --fix

'*.{json,scss,html,yaml,yml}':
  - prettier --write

ci: lint
  .github/workflows/main.yml
  BUILD.bazel
  examples/sagas-customers-orders/customers/BUILD.bazel
  examples/sagas-customers-orders/orders/BUILD.bazel
  package.json
  packages/commands/BUILD.bazel
  packages/commands/common/BUILD.bazel
  packages/commands/consumer/test/BUILD.bazel
  packages/common/BUILD.bazel
  packages/core/BUILD.bazel
  packages/in-memory/BUILD.bazel
  packages/messaging/BUILD.bazel
  packages/messaging/broker/BUILD.bazel
  packages/messaging/common/BUILD.bazel
  packages/messaging/consumer/BUILD.bazel
  packages/messaging/producer/BUILD.bazel
  packages/messaging/producer/test/BUILD.bazel
  packages/sagas/common/BUILD.bazel
  packages/sagas/orchestration/BUILD.bazel
  packages/sagas/orchestration/dsl/BUILD.bazel
  packages/sagas/orchestration/dsl/test/BUILD.bazel
  packages/sagas/orchestration/test/BUILD.bazel
  packages/sagas/participant/BUILD.bazel
  packages/testing/BUILD.bazel
  packages/testing/sagas/BUILD.bazel
  tools/defaults.bzl
  tools/eslint.bzl
Due: yarn bazel:lint-fix, prettier --write

ci: add bazel repository cache
  .github/workflows/main.yml
  package.json
  scripts/setup_ci_bazel.sh
Due: prettier --write

chore: save
  .github/workflows/main.yml
  packages/commands/consumer/command-handler.ts
  packages/common/handlers.ts
  packages/common/types.ts
  packages/sagas/orchestration/dsl/with-builder.ts
Due: eslint --fix, prettier --write

chore(deps): update postgres docker tag to v9.6.19
  docker-compose.yml
Due: prettier --write

fix(deps): update dependency rxjs to v6.6.3
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update nest monorepo to v7.4.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency build_bazel_rules_nodejs to v2.2.0
  WORKSPACE
Due: yarn bazel:lint-fix

chore(deps): update dependency @bazel/ibazel to v0.13.2
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @nestjs/typeorm to v7.1.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency prettier to v2.1.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/jest to v26.0.14
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency typescript to v4
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency kafkajs to v1.14.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @bazel/buildifier to v3.5.0
  package.json
  yarn.lock
Due: prettier --write

fix(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency typeorm to v0.2.28
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency uuid to v8.3.1
  package.json
  packages/messaging/package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @bazel/typescript to v2.2.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to v14.11.8
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update jest monorepo
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @bazel/bazelisk to v1.7.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/jest to v26.0.15
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency typescript to v4.0.5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint-config-prettier to v6.15.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @bazel/ibazel to v0.14.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v10.5.1
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @nestjs/typeorm to v7.1.5
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency pg to v8.5.1
  package.json
  yarn.lock
Due: prettier --write

chore: save
  examples/ftgo-app/services/restaurant/BUILD.bazel
  examples/sagas-customers-orders/customers/BUILD.bazel
  examples/sagas-customers-orders/customers/customers.controller.ts
  examples/sagas-customers-orders/customers/customers.module.ts
  examples/sagas-customers-orders/docker-compose.yml
  examples/sagas-customers-orders/orders/BUILD.bazel
  examples/sagas-customers-orders/orders/orders.controller.ts
  examples/sagas-customers-orders/orders/orders.module.ts
  examples/sagas-customers-orders/orders/sagas/create-order/create-order.saga.ts
  packages/commands/consumer/command-dispatcher.ts
  packages/core/decorators.ts
  packages/core/initializer.service.ts
  packages/messaging/broker/index.ts
  packages/messaging/broker/kafka/BUILD.bazel
  packages/messaging/broker/kafka/index.ts
  packages/messaging/broker/kafka/kafka-message-builder.ts
  packages/messaging/broker/kafka/kafka-message-consumer.ts
  packages/messaging/broker/kafka/kafka-message-producer.ts
  packages/messaging/broker/kafka/kafka-messaging-broker.module.ts
  packages/messaging/broker/kafka/kafka-proxy.ts
  packages/messaging/broker/kafka/tokens.ts
  packages/messaging/broker/microservice-broker.module.ts
  packages/messaging/broker/microservice-message-consumer.ts
  packages/messaging/broker/microservice-message-producer.ts
  packages/messaging/broker/microservice-message.ts
  packages/messaging/broker/microservice-proxy.ts
  packages/messaging/broker/tokens.ts
  packages/sagas/orchestration/BUILD.bazel
  packages/sagas/orchestration/entities/saga-instance-participants.entity.ts
  packages/sagas/orchestration/saga-instance-factory.ts
  packages/sagas/orchestration/saga-instance-repository.ts
  packages/sagas/orchestration/saga-manager.ts
  packages/sagas/orchestration/saga-orchestration.module.ts
Due: eslint --fix, prettier --write

chore: save
  examples/sagas-customers-orders/common/convoy-saga-typeorm.module.ts
  examples/sagas-customers-orders/common/default-typeorm-options.ts
  examples/sagas-customers-orders/common/index.ts
  examples/sagas-customers-orders/customers/api/commands.ts
  examples/sagas-customers-orders/customers/api/exceptions.ts
  examples/sagas-customers-orders/customers/api/index.ts
  examples/sagas-customers-orders/customers/api/replies.ts
  examples/sagas-customers-orders/customers/commands/index.ts
  examples/sagas-customers-orders/customers/common/index.ts
  examples/sagas-customers-orders/customers/customer-command-handlers.ts
  examples/sagas-customers-orders/customers/customer.service.ts
  examples/sagas-customers-orders/customers/customers.module.ts
  examples/sagas-customers-orders/customers/entities/customer.entity.ts
  examples/sagas-customers-orders/customers/replies/customer-credit-limit-exceeded.ts
  examples/sagas-customers-orders/customers/replies/customer-credit-reserved.ts
  examples/sagas-customers-orders/customers/replies/customer-not-found.ts
  examples/sagas-customers-orders/customers/replies/index.ts
  examples/sagas-customers-orders/orders/orders.module.ts
  examples/sagas-customers-orders/orders/sagas/create-order/create-order.saga.ts
  examples/sagas-customers-orders/orders/sagas/participants/customer-service.proxy.ts
  packages/core/command-bus.ts
  packages/core/common.module.ts
  packages/core/decorators.ts
  packages/core/event-bus.ts
  packages/core/handlers.ts
  packages/core/index.ts
  packages/messaging/broker/kafka/kafka-messaging-broker.module.ts
  packages/messaging/broker/kafka/kafka-proxy.ts
  packages/sagas/common/exceptions.ts
  packages/sagas/orchestration/saga-instance-factory.ts
Due: eslint --fix

chore: save
  packages/commands/common/paths/resource-path-pattern.ts
  packages/commands/common/paths/resource-path.ts
  packages/commands/common/paths/utils.ts
  packages/commands/consumer/command-dispatcher.ts
  packages/commands/consumer/command-handler.ts
  packages/commands/consumer/command-handlers.ts
  packages/common/types.ts
  packages/core/initializer.service.ts
  packages/events/aggregate/aggregate-repository-interceptor.ts
  packages/events/aggregate/aggregate-schema.ts
  packages/events/aggregate/aggregates.ts
  packages/events/aggregate/crud/aggregate-crud-mapping.ts
  packages/events/aggregate/crud/event-schema-manager.ts
  packages/events/aggregate/loaded-events.ts
  packages/events/aggregate/snapshot/snapshot-manager.ts
  packages/events/aggregate/snapshot/test/snapshot-strategy.spec.ts
  packages/events/subscriber/domain-event-handlers.ts
  packages/in-memory/in-memory-message-consumer.ts
  packages/messaging/broker/kafka/kafka-messaging-broker.module.ts
  packages/messaging/consumer/message-consumer.ts
  packages/messaging/producer/message-producer.ts
  packages/messaging/producer/test/message-producer.spec.ts
  packages/sagas/orchestration/dsl/saga-step.ts
  packages/sagas/orchestration/dsl/step-outcome.ts
  packages/sagas/orchestration/event-to-publish.ts
  packages/sagas/orchestration/saga-actions.ts
  packages/sagas/orchestration/saga-command-producer.ts
  packages/sagas/orchestration/saga-instance-repository.ts
  packages/sagas/participant/saga-command-dispatcher.ts
  packages/sagas/participant/utils.ts
  packages/testing/sagas/saga-unit-test-support.ts
Due: eslint --fix

chore: save
  examples/ftgo-app/services/restaurant/services/services.module.ts
  packages/commands/common/command.ts
  packages/commands/consumer/saga-reply-lock/saga-reply-message-builder.ts
  packages/core/core.module.ts
Due: eslint --fix
